<b>Zip Code </b> {{zipCodeFoundByZipCode}}

<p>City: {{cityFoundByZipCode}}, State: {{stateFoundByZipCode}}, Population: {{populationFoundByZipCode}}</p>

<p><a href="http://localhost:3000/city/{{cityFoundByZipCode}}/state/{{stateFoundByZipCode}}">Click here for all Zip Codes for {{cityFoundByZipCode}}, {{stateFoundByZipCode}}</a></p>

