<div>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <td>
                        <button class="btn btn-primary" onClick="addShop();">Add</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" onClick="toManageUsers();">Manage User</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-danger" onClick="logout();">Logout</button>
                    </td>
                </tr>
            </thead>
            {{#if data}}
            <thread>
                <tr style=font-size:30px>
                    <th>Shop Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Operation</th>
                </tr>
            </thread>
            {{else}}
            <tr>
                <td colspan="3">No Shop found ... Add One!</td>
            </tr>
            {{/if}}
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.shopName}}</td>
                    <td>{{this.amount}}</td>
                    <td>{{this.price}}</td>

                    <td>
                        <a href="/shops/manageShopEdit/{{this.id}}">Edit</a> |
                        <a href="/shops/manageShopDelete/{{this.id}}">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
</div>