<div>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <td>
                        <button class="btn btn-danger" onclick="backShopList('{{customerId}}')">Back</button>
                    </td>
                </tr>
            </thead>
            {{!-- TODO: just save for testing --}}
            <p>Customer id: <Strong>{{customerId}}</Strong></p>
            {{#if data}}
            <thread>
                <tr style=font-size:30px>
                    <th>Shop Id</th>
                    <th>Shop Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>TotalPrice</th>
                    <th>Operation</th>
                </tr>
            </thread>
            {{else}}
            <tr>
                <td colspan="3">No Shop right now!</td>
            </tr>
            {{/if}}
            <tbody>
                <input type="hidden" name="customerId" value="{{customerId}}">
                {{#each data}}
                <tr>
                    <td>{{this.shopId}}</td>
                    <td>{{this.shopName}}</td>
                    <td>{{this.customerAmount}}</td>
                    <td>{{this.perPrice}}</td>
                    <td>{{this.totalPrice}}</td>

                    {{!-- hide the value need to pass--}}

                    <input type="hidden" name="shopId" value="{{this.id}}">
                    <input type="Hidden" name="shopName" value="{{this.shopName}}">
                    <td>
                        <a href="/customerShopPage/shoppingCart/customerShoppingCartEdit/{{customerId}}/{{this.id}}">Edit</a> |
                        <a href="/customerShopPage/customerShoppingCartDelete/{{this.customerId}}/{{this.id}}">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>