<div>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <td>
                        <button class="btn btn-danger" onClick="logout();">Logout</button>
                    </td>
                </tr>
            </thead>
            {{!-- TODO: just save for testing --}}
            <p>Customer id: <Strong>{{customerId}}</Strong></p>
            {{#if data}}
            <thread>
                <tr style=font-size:30px>
                    <th>OrderId</th>
                    <th>Shop Name</th>
                    <th>Operation</th>
                </tr>
            </thread>
            {{else}}
            <tr>
                <td colspan="3">No Shop right now!</td>
            </tr>
            {{/if}}
            <tbody>
                <input type="hidden" name="customerId" value="{{customerId}}">
                {{#each data}}
                <tr>
                    <td>{{this.orderId}}</td>
                    <td>{{this.shops}}</td>

                    {{!-- hide the value need to pass--}}

                    <input type="hidden" name="shopId" value="{{this.id}}">
                    <input type="Hidden" name="shopName" value="{{this.shopName}}">
                    <td>
                        <a href="/">View</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>